# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

1. Python
2. R
4. Java

1. numpy
2. scikit_learn
3. ggplot
4. cerat

| Data Science Tools | 
| -------------| 
| Apache Spark  | 
| TensorFlow | 
| Microsoft Visual Studio |
| R Studio |

# Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [6]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
  Kaladhar Akula

**Objectives:**
- Learn Data Science
- Get idea on relevant alogorithms
- Get some idea on machine learning